<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        table, th,td {
            border: 1px solid black ;
        }
    </style>
</head>
<body>
    <h2>Users Details</h2>
    <table style="width: auto">
        <tr>
            <th>UserId</th>
            <th>Name</th>
            <th>UserName</th>
            <th>UserDetails</th>
        </tr>
        <% for (var i=0; i< users.length;i++) { %>
            <tr>
                <td><%= users[i].id %></td>
                <td><%= users[i].name %></td>
                <td><%= users[i].username %></td>
                <td>
                    <a href = "/https/users/<%= users[i].id %>" class= 'btn'>User Details</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>